/* ani */
@keyframes load_top {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes load_btm {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes load_head {
  0% {
    transform: translateY(-20px) translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0) translateX(-50%);
    opacity: 1;
  }
}

@keyframes load_R {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes load_L {
  0% {
    transform: translateX(15px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes load_scale {
  0% {
    transform: scale(1.1);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes load_bg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* animation: load_bg 2s both;
  animation-delay: 0.2s; */

.ani {
  opacity: 0;
  transform: translateY(15px);
  transition: all 1s;
}

.ani_T {
  opacity: 0;
  transform: translateY(-15px);
  transition: all 1s;
}

.ani_L {
  opacity: 0;
  transform: translateX(-15px);
  transition: all 1s;
}

.ani_R {
  opacity: 0;
  transform: translateX(15px);
  transition: all 1s;
}

.ani_O {
  opacity: 0;
  transition: all 1s;
}

.aniIn {
  opacity: 1;
  transform: translateY(0);
}

.aniIn_T {
  opacity: 1;
  transform: translateY(0);
}

.aniIn_L {
  opacity: 1;
  transform: translateX(0);
}

.aniIn_R {
  opacity: 1;
  transform: translateX(0);
}

.aniIn_O {
  opacity: 1;
}

.t-delay0_1 {
  transition-delay: 0.1s;
}

.t-delay0_2 {
  transition-delay: 0.2s;
}

.t-delay0_3 {
  transition-delay: 0.3s;
}

.t-delay0_4 {
  transition-delay: 0.4s;
}

.t-delay0_5 {
  transition-delay: 0.5s;
}

.t-delay0_6 {
  transition-delay: 0.6s;
}

.t-delay0_7 {
  transition-delay: 0.7s;
}

.t-delay0_8 {
  transition-delay: 0.8s;
}

.t-delay0_9 {
  transition-delay: 0.9s;
}

.t-delay1 {
  transition-delay: 1s;
}
