@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
/* font-family: "Gowun Dodum", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
/* font-family: "Italiana", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
/* font-family: "Italianno", cursive; */

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
/* font-family: "Dancing Script", cursive; */

@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
/* font-family: "Ms Madi", cursive; */

/* body {
  max-width: 1920px;
  width: 100%;
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
  color: #333333;
} */
html {
  height: 100%;
  background: #ffffff;
  font-family: "Gowun Dodum", sans-serif;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  letter-spacing: -1.5px;
  word-break: keep-all;
  color: #333;
  background: #eeeeee;
}
body.no-scroll {
  overflow: hidden;
  height: 100vh;
}
/* .guideline,
.preparation,
.intro {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  background: rgb(175, 175, 175);
}
.wrep {
  width: 100%;
  margin: 0 auto;
  border: 2px solid white;
} */
.main,
section,
.intro {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  position: relative;
}
section {
  width: 100%;
  max-width: 620px;
  /* height: 50vh; */
  /* background: pink; */
}
/* section:nth-child(even) {
  background: darkcyan;
} */

.main {
  box-shadow: 5px 5px 15px rgb(185, 185, 185);
}

/* visual */
.visual {
  height: 1300px;
  background: url("../img/visual_bg.png") no-repeat center top;
  /* background: url("../img/visual_bg02.png") no-repeat center top; */
  /* background: url("../img/visual_bg.png") no-repeat center top; */
  background-size: cover;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.visual .top_pont {
  width: 93%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visual .top_pont .tt {
}
.visual span {
  font-size: 20px;
  color: #fff;
  text-shadow: 1.5px 2px 3px rgb(73, 73, 73);

  animation: load_tr2 5s infinite linear;
  display: block;
}
@keyframes load_tr2 {
  0% {
    color: #fff;
  }

  50% {
    color: #fde3ef;
  }

  100% {
    color: #fff;
  }
}
.visual .bgm {
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
  border: 1px solid #000;

  display: flex;
  justify-content: center;
  align-items: center;
}
.visual .bgm img {
  width: 35%;
}

.visual .title {
  /* text-shadow: 1px 1px 4px rgb(128, 128, 128); */
  text-align: center;

  margin: 52px 0 0;
}
.visual .title strong {
  font-size: 32px;
  font-weight: 500;
  color: #3a3a3a;
}
.visual .title h2 {
  font-size: 100px;
  line-height: 0.9;
  color: #ed659a;
  font-family: "Ms Madi", cursive;

  display: block;
  width: 100%;
  text-align: center;

  margin: 32px 0 52px;
}
.visual .title p {
  font-size: 22px;
  font-weight: 500;
  color: #ed659a;
}

.visual .title02 {
  width: 80%;
  padding: 20px;
  background: #faf3f7;
  border-radius: 12px;
  text-align: center;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  box-shadow: 4px 5px 14px rgba(0, 0, 0, 0.3);
}
.visual .title02 p {
  font-size: 20px;
  font-weight: 500;
  color: #ed659a;
}
.visual .title02 strong {
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-top: 12px;
  color: #ed659a;
}

/* greeting */
.greeting {
  padding: 30px 0 100px;
  background: white;
}
.greeting .title {
  text-align: center;
}
.greeting span,
.greeting strong {
  display: block;
}
.greeting .svg_wrap {
  transform: scale(0.4);
  opacity: 0.6;
}
.greeting svg {
}

.greeting .top {
}
.greeting .top span {
  font-size: 22px;
  /* font-weight: 400; */
  line-height: 1.8;
}
.greeting .top strong {
  font-size: 24px;
  /* font-weight: 500; */
  margin-top: 16px;
}

.greeting .line {
  width: 32px;
  height: 2px;
  background: #333333;
  display: block;
  margin: 52px auto;
}

.greeting .btm {
}
.greeting .btm span {
  font-size: 22px;
  line-height: 1.8;
  display: inline-block;
}
.greeting .btm h2 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.greeting .btm h2 span {
  font-size: 16px;
  margin-right: 8px;
  margin-bottom: -2px;
  display: inline-block;
}
/* account */
.account,
.liaison {
  padding: 100px 0;
  background: white;
}
.account {
  background: #faf3f7;
}
.account .title,
.liaison .title {
  text-align: center;
}
.account .title h2,
.liaison .title h2 {
}
.account .title p,
.liaison .title p {
  margin: 32px 0;
  font-size: 22px;
}
.account .title span,
.liaison .title span {
  font-size: 22px;
  line-height: 1.4;
}

.liaison_infor {
  text-align: center;
  margin-top: 52px;
}
.liaison_infor h3 {
  font-size: 21px;
  font-weight: 600;
}
.liaison_infor h3:first-child {
  margin-bottom: 16px;
}
.liaison_infor h3 span {
  font-size: 20px;
  font-weight: 500;
  margin: 0 12px;
}

.account .desc,
.liaison .desc {
  width: 80%;
  margin: 52px auto 0;
}
.account .desc .items,
.liaison .desc .items {
  width: 100%;
  border: 1px solid #bdbdbd;
  margin-bottom: 32px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 3px 3px 7px rgb(201, 201, 201);
}
.account .desc .items:nth-child(2),
.liaison .desc .items:nth-child(2) {
  margin: 0;
}
.account .desc .items .top_name,
.liaison .desc .items .top_name {
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.account .top_name .arrow,
.liaison .top_name .arrow {
  transition: transform 0.3s ease;
}

.account .items.active .top_name .arrow,
.liaison .items.active .top_name .arrow {
  transform: rotate(180deg);
}

.account .desc .items .top_name h3,
.liaison .desc .items .top_name h3 {
  font-size: 22px;
  font-weight: 600;
}
.account .desc .items .top_name h3 span,
.liaison .desc .items .top_name h3 span {
  color: #333;
}
.account .desc .items ul,
.liaison .desc .items ul {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}
.account .desc .items.active ul,
.liaison .desc .items.active ul {
  max-height: 500px;
}

.account .desc .items ul .account_item,
.liaison .desc .items ul .liaison_item {
  padding: 10px 30px;
  margin: 7px 0;
}
.account .desc .items ul .account_item {
  padding: 10px 30px;
  margin: 7px 0;
  border-top: 1px solid #d5d5d5;
}

.liaison .desc .items ul .liaison_item.list_name span {
  font-size: 20px;
  font-weight: 600;
}
.liaison .desc .items.active ul.liaison_desc01 {
  border: 1px solid #dddddd;
  border-left: none;
  border-right: none;
}
.liaison .desc .items ul.liaison_desc01 {
  transition: 0.2s;
}
.liaison .desc .items ul.liaison_desc01 .list_name {
  color: rgb(135 135 231);
}
.liaison .desc .items ul.liaison_desc02 .list_name {
  color: rgb(237 152 194);
}
.account .desc .items ul .account_item h4,
.liaison .desc .items ul .liaison_item h4 {
  font-size: 18px;
  margin: 10px 0 10px;
}
.account .desc .items.items01 ul .account_item h4,
.liaison .desc .items ul.liaison_desc01 .liaison_item h4 {
  color: rgb(135 135 231);
}
.account .desc .items.items02 ul .account_item h4,
.liaison .desc .items ul.liaison_desc02 .liaison_item h4 {
  color: rgb(237 152 194);
}
.account .desc .items ul .account_item h4 span,
.liaison .desc .items ul .liaison_item h4 span {
  font-size: 22px;
  margin-left: 6px;
  font-weight: 600;
  color: #333;
}
.account .desc .items ul .account_item .copy,
.liaison .desc .items ul .liaison_item .copy {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 18px;
}
.account .desc .items ul .account_item .copy .account_copyBtn,
.liaison .desc .items ul .liaison_item .copy .liaison_copyBtn {
  padding: 8px 12px;
  border-radius: 5px;
  background: #ededed;
  display: inline-block;
  border: 1px solid #7c7c7c;

  font-size: 14px;
  color: #333;
  font-weight: 600;
}
.account .desc .items ul .account_item .copy .account_copyBtn .fa,
.liaison .desc .items ul .liaison_item .copy .liaison_copyBtn .fa {
  margin-right: 6px;
}

.liaison .desc .items ul .liaison_item {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .liaison .desc .items ul .liaison_item:last-child {} */
.liaison .desc .items ul .liaison_item h4 {
  font-size: 18px;
  margin: 0;
}
.liaison .desc .items ul .liaison_item h4 span {
}
.liaison .desc .items ul .liaison_item .copy {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* font-size: 18px; */
}
.liaison .desc .items ul .liaison_item .copy .liaison_copyBtn {
  padding: 2px 10px;
  border-radius: 0;
  background: transparent;
  display: inline-block;
  border: none;

  font-size: 26px;
  color: #333;
}
.liaison .desc .items ul .liaison_item .copy .liaison_copyBtn .fa {
  margin-right: 0;
}

/* calendar */
.calendar {
  background: #faf3f7;
}

.calendar_cont {
  padding: 100px 0;
}
.calendar_cont .title,
.gallery .title,
.contact .title {
  text-align: center;
}
.calendar_cont .title h2,
.gallery .title h2,
.contact .title h2,
.account .title h2,
.liaison .title h2 {
  font-size: 42px;
  /* font-weight: 200; */
  font-family: "Italiana", sans-serif;
  letter-spacing: 2px;
}
.calendar_cont .title p,
.gallery .title p,
.contact .title p,
.account .title p {
  font-size: 22px;
  /* font-weight: 500; */

  margin: 52px 0 16px;
}
/* .calendar_cont .title p .line {
  display: inline-block;
  width: 2px;
  height: 16px;
  background: #333333;
  margin: 0 12px;
} */
.calendar_cont .title span {
  font-size: 24px;
  /* font-weight: 500; */
  color: #333333;
  animation: load_tr 7s infinite linear;
  display: block;
}
@keyframes load_tr {
  0% {
    color: #333333;
  }

  50% {
    color: #e35a96;
  }

  100% {
    color: #333333;
  }
}
.calendar_num {
  text-align: center;
  margin-top: 62px;
  font-size: 30px;
  font-weight: 600;
  color: #e35a96;
}
.calendar_desc {
  width: 85%;
  margin: 32px auto 52px;
  border: 2px solid #c2c2c2;
  border-left: none;
  border-right: none;
}
.calendar_desc ul {
  width: 95%;
  margin: 0 auto 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendar_desc ul:last-child {
  margin: 10px auto 15px;
}
.calendar_desc ul:first-child {
  margin: 15px auto 10px;
}
.calendar_desc ul li {
  width: 50px;
  height: 50px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  /* font-weight: 500; */
}
.calendar_desc ul li.red {
  color: rgb(250, 127, 127);
}
.calendar_desc ul li.blue {
  color: rgb(102, 153, 221);
}
.calendar_desc ul li.dd {
  border-radius: 50px;
  background: #e35a96;
  color: #fff;
}

#countdown {
  width: 85%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
#countdown .calendar_item {
  flex: 1;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 12px;
  box-shadow: 2px 3px 10px rgba(114, 114, 114, 0.5);

  background: #fff;
}
#countdown .calendar_item h2 {
  font-size: 38px;
  /* font-weight: 400; */
}
#countdown .calendar_item span {
  font-size: 15px;
  /* font-weight: 400; */
  color: #7c7c7c;
  display: block;
  margin-top: 12px;
}

.calendar .comment {
  text-align: center;
  margin-top: 36px;
}
.calendar .comment h4 {
  font-size: 22px;
  /* font-weight: 500; */
}
.calendar .comment h4 span {
  color: #e35a96;
}

/* gallery */
.gallery {
  padding: 100px 0;
  background: #faf3f7;
}
.gallery .title {
}
.gallery .title h2 {
}
.gallery .title p,
.contact .title p {
  margin: 26px 0 0;
}
.gallery_cont {
  margin: 52px auto;
  overflow: hidden;
  max-height: 636px;
  transition: max-height 0.6s ease;
}
.gallery_cont.active {
  max-height: 3000px;
}

.gallery_cont .desc {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 12px; */
  margin-bottom: 12px;
}
.gallery_cont .desc.desc10 {
  margin: 0;
}
.gallery_cont .desc .item {
  width: 26%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 3px 3px 7px rgb(201, 201, 201);
}
.gallery_cont .desc .item:nth-child(2) {
  margin: 0 12px;
}
.gallery_cont .desc .item img {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0;
  object-fit: cover;
  border-radius: 10px;
}
.gallery_more {
  width: 130px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e35a96;
  border-radius: 12px;
  margin: 0 auto;

  font-size: 16px;
  /* font-weight: 500; */
  color: #e35a96;
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 9999;
}

/* 트랙 */
.lightbox_track {
  display: flex;
  width: 100%;
  height: 80%;
  transition: transform 0.4s ease;
}

/* 슬라이드 */
.lightbox_slide {
  min-width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.lightbox_slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none; /* 클릭 방지 */
}
/* 워터마크 */
.lightbox_slide::after {
  content: "© 종복 ♥ 지수";
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: rgba(255, 255, 255, 0.5);
}

/* 버튼 */
.lightbox .prev,
.lightbox .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.lightbox .prev {
  left: 30px;
}
.lightbox .next {
  right: 30px;
}

.lightbox .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}
.lightbox_track {
  display: flex;
  width: 100%;
  height: 80%;
}

.lightbox_slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox_slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.lightbox_counter {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 16px;
}

/* contact */
.contact {
  padding: 100px 0;
  background: white;
}
.contact .title h2 {
}
.contact .title p {
  font-size: 22px;
  margin: 32px 0;
  /* text-transform: ; */
}
.contact .title p span {
  font-weight: 600;
}
.contact .title p a {
}
.contact .title p a .fa {
  font-size: 18px;
  color: #333;
  transform: translateY(-3px);
  margin-left: 8px;
}
#toast {
  visibility: hidden;
  min-width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 12px 16px;
  position: fixed;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  z-index: 9999;
  opacity: 0;
  transition:
    opacity 0.3s,
    bottom 0.3s;
  font-size: 14px;
}

#toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 70px;
}

.contact .map {
  width: 100%;
}
.contact .map .root_daum_roughmap {
  width: 100% !important;
}
.contact .map .root_daum_roughmap .section_address,
.contact .map .wrap_controllers,
.contact .map .wrap_btn_zoom {
  display: none;
}

.contact_items {
  width: 90%;
  margin: 0 auto;
}
.contact_items .desc {
  width: 100%;
}
.contact_items .desc .item {
  width: 100%;
  margin: 32px 0;
  border-top: 2px solid #e2e2e2;
  padding-top: 33px;
}
.contact_items .desc .item.item01 {
  border: none;
  padding: 0;
}
.contact_items .desc .item h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 12px;
  /* margin-left: 15px; */
}
.contact_items .desc .item h3 .fa {
  font-size: 18px;
  color: #808080;
  transform: translateY(-2.5px);
  margin-right: 4px;
}
.contact_items .desc .item p {
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  font-weight: 500;
}
.contact_items .desc .item.item02 p {
  margin-bottom: 12px;
}
.contact_items .desc .item.item02 p span,
.contact_items .desc .item.item04 p span {
  font-weight: 600;
  display: block;
  margin: 0 0 6px;
}
.contact_items .desc .item.item01 p span,
.contact_items .desc .item.item03 p span,
.contact_items .desc .item.item04 p span {
  font-weight: 600;
}
.contact_items .desc .item.item04 p span {
  display: inline-block;
}
.contact_items .desc .item.item02 .mo_br,
.contact_items .desc .item.item04 .mo_br {
  display: none;
}
.contact_btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 32px;
}
.contact_btns .btns {
  flex: 1;
  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1.5px solid #bdbdbd;
  border-radius: 5px;
  margin-bottom: 32px;
}
/* .contact_btns .btns::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 20px;
  background: #bdbdbd;
  display: block;
} 
.contact_btns .btns.btns3::before {
  display: none;
} */
.contact_btns .btns img {
  width: 30px;
  height: 30px;
}
.contact_btns .btns span {
  font-size: 17px;
  font-weight: 600;
  color: #1d1d1d;
  margin-left: 12px;
}

.footer {
  padding: 80px 0;
  height: 500px;
  background: url("../img/foot_bg.png") no-repeat center center;
  background-size: cover;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  color: white;
}
.footer .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.footer .title span {
  font-size: 22px;
  line-height: 1.4;
}
.footer .title img {
  width: 150px;
  margin: 32px 0;
}
.footer .title h3 {
  font-size: 26px;
}
.footer .title h3 span {
  color: #fca2fb;
}

.footer .link_box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 82px;
}
.footer .link_box a {
  color: white;
  font-size: 22px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.footer .link_box a img {
  width: 20px;
  margin-right: 12px;
}

@media all and (min-width: 360px) and (max-width: 620px) {
  /* visual */
  .visual {
    height: 100vh;
  }
  .visual .bgm {
    width: 6vw;
    height: 6vw;

    right: 4vw;
    top: 4vw;
  }
  .visual .title {
    margin: 10vw 0 0;
  }
  .visual .title strong {
    font-size: 4.6vw;
  }
  .visual .title h2 {
    font-size: 18vw;
    line-height: 0.8;
    margin: 6vw 0 11vw;
  }
  .visual .title p {
    font-size: 4.5vw;
  }
  .visual .title02 {
    bottom: 32px;
  }
  .visual .title02 p {
    font-size: 4.5vw;
  }
  .visual .title02 strong {
    font-size: 4.5vw;
    margin-top: 12px;
  }

  /* greeting */
  .greeting {
    padding: 3vw 0 13vw;
  }
  .greeting .top span {
    font-size: 4vw;
  }
  .greeting .top strong {
    font-size: 4.5vw;
    margin-top: 3vw;
  }

  .greeting .line {
    width: 8vw;
    height: 0.3vw;
    margin: 8vw auto;
    opacity: 0.8;
  }
  .greeting .btm span {
    font-size: 4vw;
  }
  .greeting .btm h2 {
    font-size: 5vw;
    margin-top: 5vw;
  }
  .greeting .btm h2 span {
    font-size: 3.5vw;
  }

  /* account */
  .account,
  .liaison {
    padding: 13vw 0;
  }
  .account .title,
  .liaison .title {
  }
  .account .title h2,
  .liaison .title h2 {
  }
  .account .title p,
  .liaison .title p {
    margin: 5vw 0;
  }
  .account .title span,
  .liaison .title span {
    font-size: 4vw;
  }
  .liaison_infor {
    margin-top: 9vw;
  }
  .liaison_infor h3 {
    font-size: 4.5vw;
  }
  .liaison_infor h3:first-child {
    margin-bottom: 4vw;
  }
  .liaison_infor h3 span {
    font-size: 4vw;
    margin: 0 2vw;
  }
  .liaison_infor h3:last-child span {
    letter-spacing: -1.6px;
  }
  .account .desc,
  .liaison .desc {
    width: 82%;
    margin: 10vw auto 0;
  }
  .account .desc .items,
  .liaison .desc .items {
    width: 100%;
    margin-bottom: 5vw;
  }
  .account .desc .items:nth-child(2),
  .liaison .desc .items:nth-child(2) {
    margin: 0;
  }
  .account .desc .items .top_name,
  .liaison .desc .items .top_name {
    padding: 5vw;
  }
  .account .desc .items .top_name h3,
  .liaison .desc .items .top_name h3 {
    font-size: 4vw;
  }
  .account .desc .items ul,
  .liaison .desc .items ul {
  }
  .account .desc .items ul .account_item,
  .liaison .desc .items ul .liaison_item {
    padding: 5vw 5vw;
  }
  .liaison .desc .items ul .liaison_item {
    padding: 2.2vw 5vw;
  }
  .account .desc .items ul .account_item:last-child,
  .liaison .desc .items ul .liaison_item:last-child {
  }
  .account .desc .items ul .account_item h4,
  .liaison .desc .items ul .liaison_item h4 {
    font-size: 4vw;
    margin: 1vw 0 2vw;
  }
  .account .desc .items ul .account_item h4 span,
  .liaison .desc .items ul .liaison_item h4 span {
    margin-left: 2vw;
    font-size: 4.5vw;
  }
  .account .desc .items ul .account_item .copy,
  .liaison .desc .items ul .liaison_item .copy {
    width: 100%;

    font-size: 4vw;
  }
  .account .desc .items ul .account_item .copy .account_copyBtn,
  .liaison .desc .items ul .liaison_item .copy .liaison_copyBtn {
    padding: 2vw 4vw;

    font-size: 3vw;
  }
  .account .desc .items ul .account_item .copy .account_copyBtn .fa,
  .liaison .desc .items ul .liaison_item .copy .liaison_copyBtn .fa {
    margin-right: 2vw;
  }
  .liaison .desc .items ul .liaison_item {
    width: auto;
  }
  /* .liaison .desc .items ul .liaison_item:last-child {} */
  .liaison .desc .items ul .liaison_item h4 {
    font-size: 4vw;
    margin: 0;
  }
  .liaison .desc .items ul .liaison_item h4 span {
  }
  .liaison .desc .items ul .liaison_item .copy {
    width: 20%;
  }
  .liaison .desc .items ul .liaison_item .copy .liaison_copyBtn {
    padding: 1vw;
    font-size: 5vw;
  }
  .liaison .desc .items ul .liaison_item .copy .liaison_copyBtn .fa {
    margin-right: 0;
  }

  /* calendar */
  .calendar {
  }
  .calendar .banner01,
  .calendar .banner02 {
    height: 50vw;
  }
  .calendar .banner02 {
  }

  .calendar_cont {
    padding: 12vw 0;
  }
  .calendar_cont .title,
  .gallery .title,
  .contact .title {
  }
  .calendar_cont .title h2,
  .gallery .title h2,
  .contact .title h2 {
    font-size: 8vw;
  }
  .calendar_cont .title p,
  .gallery .title p,
  .contact .title p {
    font-size: 4vw;
    margin: 6vw 0 2vw;
  }
  .calendar_cont .title p .line {
    width: 0.2vw;
    height: 3vw;
    margin: 0 0.5vw;
  }
  .calendar_cont .title span {
    font-size: 4vw;
  }
  .calendar_num {
    margin-top: 8vw;
    font-size: 6vw;
  }
  .calendar_desc {
    width: 85%;
    margin: 7.5vw auto;
    border: 0.5px solid #dbdbdb;
    border-left: none;
    border-right: none;
  }
  .calendar_desc ul {
    width: 95%;
    margin: 0 auto 4vw;
  }
  .calendar_desc ul:last-child {
    margin: 4vw auto 3vw;
  }
  .calendar_desc ul:first-child {
    margin: 3vw auto 4vw;
  }
  .calendar_desc ul li {
    width: 8vw;
    height: 8vw;
    font-size: 3.5vw;
  }
  .calendar_desc ul li.red {
  }
  .calendar_desc ul li.blue {
  }
  .calendar_desc ul li.dd {
  }

  #countdown {
    width: 85%;
    gap: 3.5vw;
  }
  #countdown .calendar_item {
    height: 20vw;

    border-radius: 12px;
  }
  #countdown .calendar_item h2 {
    font-size: 6vw;
  }
  #countdown .calendar_item span {
    font-size: 3vw;
    margin-top: 1.2vw;
  }

  .calendar .comment {
    margin-top: 6vw;
  }
  .calendar .comment h4 {
    font-size: 4vw;
  }
  .calendar .comment h4 span {
  }
  /* gallery */
  .gallery {
    padding: 13vw 0;
  }
  .gallery .title {
  }
  .gallery .title h2 {
  }
  .gallery .title p,
  .contact .title p {
    margin: 5vw 0 6vw;
  }
  .gallery_cont {
    margin: 52px auto;
  }

  .gallery_cont .desc {
    width: 100%;
  }
  .gallery_cont .desc.desc10 {
    margin: 0;
  }
  .gallery_cont .desc .item {
    width: 28%;
    height: 100%;
  }
  .gallery_cont .desc .item:nth-child(2) {
  }
  .gallery_cont .desc .item img {
    border-radius: 10px;
  }
  .gallery_more {
    width: 130px;
    height: 42px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
  }

  /* contact */
  .contact {
    padding: 13vw 0;
  }
  .contact .title p {
    font-size: 4vw;
    margin: 5vw 0;
    /* text-transform: ; */
  }
  .contact .title p span {
  }
  .contact .title p a {
  }
  .contact .title p a .fa {
    font-size: 3.5vw;
    transform: translateY(-2px);
    margin-left: 8px;
  }
  #toast {
    min-width: 200px;
    border-radius: 10px;
    padding: 12px 16px;
    left: 50%;
    bottom: 50px;
    font-size: 14px;
  }

  #toast.show {
    bottom: 70px;
  }

  .contact .map {
    width: 100%;
  }
  .contact .map .root_daum_roughmap {
    width: 100% !important;
  }
  .contact .map .root_daum_roughmap .section_address,
  .contact .map .wrap_controllers,
  .contact .map .wrap_btn_zoom {
  }

  .contact_items {
    width: 90%;
  }
  .contact_items .desc {
    width: 100%;
  }
  .contact_items .desc .item {
    margin: 6vw 0;
    padding-top: 5vw;
  }
  .contact_items .desc .item.item02 .mo_br,
  .contact_items .desc .item.item04 .mo_br {
    display: block;
  }
  .contact_items .desc .item h3 {
    font-size: 4vw;
    margin-bottom: 2vw;
  }
  .contact_items .desc .item h3 .fa {
    font-size: 3vw;
    transform: translateY(-0.8vw);
    margin-right: 1vw;
  }
  .contact_items .desc .item p {
    font-size: 4vw;
  }
  .contact_items .desc .item.item02 p {
    margin-bottom: 4vw;
  }
  .contact_btns {
    width: 100%;
    /* gap: 6px; */
    margin-top: 6vw;
  }
  .contact_btns .btns {
    flex: 1;
    height: 8vw;
    margin-bottom: 6vw;
  }
  .contact_btns .btns img {
    width: 5vw;
    height: 5vw;
  }
  .contact_btns .btns span {
    font-size: 3.3vw;
  }

  .footer {
    padding: 15vw 0;
    height: 85vw;
    background: url("../img/foot_bg.png") no-repeat bottom center;
    background-size: cover;
  }
  .footer .title {
  }
  .footer .title span {
    font-size: 4vw;
    line-height: 1.4;
  }
  .footer .title img {
    width: 20vw;
    margin: 6.2vw 0;
  }
  .footer .title h3 {
    font-size: 5vw;
  }
  .footer .title h3 span {
  }

  .footer .link_box {
    text-align: center;
    flex-direction: column;
    gap: 6.5vw;
  }
  .footer .link_box a {
    font-size: 4vw;

    margin-top: 0;
  }
  .footer .link_box a img {
    width: 20px;
    margin-right: 12px;
  }
}
